.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-modules > li {
  margin-bottom: 20px;
}
.list-group {
    width: 100%;
    max-width: 500px; 
    padding: 0px;
    list-style: none;
    }   
.vertical-align {
    top: 0;
}
td {
    padding: 0; 
  }
  .header-with-offset {
    margin-left: 200px; 
}
.header-line {
    border-bottom: 1px solid #ccc; 
    margin: 0;
}
   
    .top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0,0,0,.1); 
}

.top-header .left-part,
.top-header .right-part {
    flex-grow: 1;
}

.top-header h1 {
    margin: 0;
    padding: 10px 0; 
}

.horizontal-line {
    border-bottom: 1px solid #ccc; 
    margin: 0; 
    padding: 0; 
}

.flex-fill {
  margin-top: 50px;
}